:root{
    --text-color--: #df927d;
    --text-color-blend--: #03055b;
    --back-up-color--: #e7faf9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #a5a6a5;
}
header{
    background: url(https://img.freepik.com/free-photo/high-angle-shot-beautiful-beach-breathtaking-sunset-sky_181624-26026.jpg?w=740&t=st=1726942696~exp=1726943296~hmac=5a43cd15f4fe2660ec40dc99b0736d0ed58c2063b25c485aaec4be1b71496316);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 80px;
    width: 80px;
}
.perfil img{
    height: 50px;
    width: 50px;
}
.perfil button{
    background: transparent;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
li a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.6s;
}
li a:hover{
    background-color: var(--text-color--);
}
.active{
    background-color: var(--text-color--);
}
.home-container button{
    border: 2px solid var(--back-up-color--);
    background: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--back-up-color--);
    cursor: pointer;
    transition: 0.6s;
}
button:hover{
    background-color: var(--back-up-color--);
    color: #000;
}

/* content */

.home-content{
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    height: 70vh;
}
.home-container{
    align-items: center;
    width: 600px;
}
.home-container h1{
    color: #fff;
    font-size: 5rem;
    padding-bottom: 30px;
}
.home-container p{
    color: #fff;
    padding-bottom: 20px;
}
/* Sección de contenido */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.vacaciones, .pendientes, .historial {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.vacaciones button, .pendientes button, .historial button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.vacaciones button:hover, .pendientes button:hover, .historial button:hover {
    background-color: rgb(255, 3, 3);
}

/* Footer */
footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    font-size: 14px;
}

/* Responsividad */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .vacaciones, .pendientes, .historial {
        width: 100%;
    }
}
