#body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: darkslategray;
    color: white;
    min-height: 10vh;
    width: 100%;
}


#header img {
    height: 50px;
    width: auto;
    padding: 25px;
}