/* ----------------------------------------------- Cuerpo de la Página ----------------------------------------------- */

body { /* Contenido general */
    margin: 0;
    padding: 0;

    background-image: url("/img/backgrounds/background (9).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ------------------------------------------------- Cuerpo deL Login ------------------------------------------------- */

#login-content { /* Contenido Login */
    
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;

    width: 25%;
    height: 40%;

    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: black;
    border-radius: 20px;

    padding: 30px 30px 30px 30px;
}

#login-content img { /* Imagen superior del Login */
    margin-top: 20px;
    width: 30%;
    height: 20%;
}

#login-content h3 { /* Subtítulo del Login */
    font-size: 20px;
    text-align: center;

    margin-top: 5px;
}

#login-content .traveler { /* Span del subtítulo */
    transition: color 0.4s;
}

#login-content label {
    display: block;
    text-align: left;
}

#login-content input { /* Input's generales del Login */
    outline: none;

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    caret-color: transparent;

    height: 20px;
    width: 100%;

    color: white;

    margin-top: 7px;
    margin-bottom: 7px;

    transition: border-bottom 0.4s, box-shadow 0.4s;
}

#login-content input[type="submit"] { /* Input Submit */
    width: auto;
    text-align: center;

    font-size: 15px;

    cursor: pointer;
    display: block;
}

#login-content .remember-session {
    width: 100%;
    text-align: left;
}

#login-content input[type="checkbox"], #login-content label[for="checkbox"]{
    display: inline-block;
    width: auto;
}

#login-content label[for="checkbox"] {
    font-size: 13px;
    height: 100%;
    border: 1px solid wheat;

}

#login-content input[type="checkbox"]:hover, /* Hover del Input Checkbox */
#login-content input[type="checkbox"]:focus { /* Focus del Input Checkbox */
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

#login-content input:hover { /* Hover de los Input's */
    border-bottom: 1px solid rgb(61, 175, 175);
    box-shadow: 0 1.5px 0 0 rgb(61, 175, 175);
    border-radius: 2px;
}

#login-content h3:hover .traveler { /* Hover del Submit*/
    color: rgb(61, 175, 175);
}

/* -------------------------------------------- Código del Pie de Página -------------------------------------------- */

#footer { /* Contenido general */
    width: 100%;
    background-color: rgb(20, 20, 20);

    color: white;
    align-items: center;

    display: flex;
    flex-direction: column;
    
    padding: 20px 0;
    min-height: 15vh;
    
    justify-content: space-between;
}  

#footer img { /* Imagen del Pie de Página */
    text-align: center;
    height: auto;

    width: 200px;
    margin-left: 300px;
    margin-right: 350px;
}