/* ----------------------------------------------- Cuerpo de la Página ---------------------------------------------- */

body { /* Contenido general */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/img/backgrounds/background (9).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
}

/* ------------------------------------------------ Cuerpo deL Login ------------------------------------------------ */

#login-content { /* Contenido Login */
    
    margin: auto;
    margin-top: 80px;
    margin-bottom: 180px;

    width: 25%;
    height: 40%;
    
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: rgb(10, 10, 10);
    border-radius: 60px;

    padding: 30px 30px 30px 30px;
}

#login-content img { /* Imagen superior del Login */
    margin-top: 20px;
    width: 30%;
    height: 20%;
}

#login-content h3 { /* Subtítulo del Login */
    font-size: 20px;
    text-align: center;

    margin-top: 5px;
}

#register-content label {
    display: block;
    margin-top: 7px;
}

#login-content .traveler { /* Span del subtítulo */
    transition: color 0.4s;
}

#login-content label {
    display: block;
    margin-top: 7px;
    text-align: center;
}

#login-content input { /* Input's generales del Login */
    outline: none;

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    caret-color: transparent;

    height: 20px;
    width: 100%;

    color: white;

    margin-top: 10px;
    margin-bottom: 7px;

    transition: border-bottom 0.4s, box-shadow 0.4s;
}

#login-content input[type="submit"] { /* Input Submit */
    width: auto;
    cursor: pointer;

    margin: 7px 0px 7px 0px;
    padding: 0px 0px 5px 0px;

    text-align: center;
    font-size: 15px;

    display: inline;
}

#login-content .remember-session {
    display: flex;
    margin: 10px 0px 5px 0px;
}

#login-content input[type="checkbox"] {
    margin: 0;
    width: auto;
}

#login-content label[for="checkbox"] {
    margin: 0;
    padding: 0px 0px 0px 5px;

    font-size: 14px;
    display: inline-block;
}

#login-content input[type="checkbox"]:hover, /* Hover del Input Checkbox */
#login-content input[type="checkbox"]:focus { /* Focus del Input Checkbox */
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

#login-content input:hover { /* Hover de los Input's */
    border-bottom: 1px solid rgb(61, 175, 175);
    box-shadow: 0 1.5px 0 0 rgb(61, 175, 175);
    border-radius: 2px;
}

#login-content h3:hover .traveler { /* Hover del Submit*/
    color: rgb(61, 175, 175);
}


#login-content .googleAcount p {
    margin: 7px 0px 7px 0px;
    color: white;
}

#login-content .googleAcount button{
    border: none;
    background: transparent;
    caret-color: transparent;
    cursor: pointer;
}

#login-content .googleAcount img{
    margin: 7px 0px 7px 0px;
    height: 30px;

    width: auto;
}

#login-content .enlaceCTA a {
    display: inline-block;
    width: 49%;

    margin: 7px 0px 7px 0px;
    text-decoration: none;

    font-size: 12px;
    color: white;

    transition: color 0.4s; /* Añadir transición para suavidad */
}

#login-content .enlaceCTA a:hover {
    color: rgb(61, 175, 175); /* Cambiar color al hacer hover */
}

/* -------------------------------------------- Código del Pie de Página -------------------------------------------- */

#footer-content { /* Contenido general */
    /* margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    min-height: 15px;
    margin-top: auto;
    align-items: center; */

    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    flex-direction: column;
    padding: 10px 0;
    min-height: 15vh;
    margin-top: auto;
    align-items: center;
}

#sectores div{
    display: inline-block;
    top: 20px;
    margin: 20px 50px;
}

#sector_1 {
    padding: 30px 20px;
}

#sector_2 {
    padding-top: 15px;
}

#sector_3 {
    padding: 30px 20px;
}

#footer-content img { /* Imagen del Pie de Página */
    height: auto;
    width: 170px;
}