/* ----------------------------------------------- Cuerpo de la Página ----------------------------------------------- */

body { /* Contenido general */
    margin: 0;
    padding: 0;

    background-image: url("/img/backgrounds/background (9).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ------------------------------------------------- Cuerpo deL Register ------------------------------------------------- */

#register-content { /* Contenido Login */
    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 150px;

    width: 25%;
    height: 40%;

    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: rgb(10, 10, 10);
    border-radius: 60px;

    padding: 30px 30px 30px 30px;
}

#register-content img { /* Imagen superior del Login */
    margin-top: 20px;
    width: 30%;
    height: 20%;
}

#register-content h3 { /* Subtítulo del Login */
    font-size: 20px;
    text-align: center;

    margin-top: 5px;
}

#register-content input { /* Input's generales del Login */
    outline: none;

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    caret-color: transparent;

    height: 20px;
    width: 100%;

    color: white;

    margin-top: 7px;
    margin-bottom: 7px;

    transition: border-bottom 0.4s, box-shadow 0.4s;
}

#register-content input[type="submit"] { /* Input Submit */
    width: auto;
    cursor: pointer;

    margin: 7px 0px 7px 0px;
    padding: 0px 0px 5px 0px;

    text-align: center;
    font-size: 15px;

    display: inline;
}

#register-content .acceptTerms {
    text-align: left;
    margin: 5px 0px 5px 0px;
}

#register-content input[type="checkbox"], #login-content label[for="checkbox"] {
    display: inline-block;

    width: auto;
    height: 100%;
}

#register-content label[for="checkbox"] {
    font-size: 14px;
}

#register-content input[type="checkbox"]:hover, /* Hover del Input Checkbox */
#register-content input[type="checkbox"]:focus { /* Focus del Input Checkbox */
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

#register-content input:hover { /* Hover de los Input's */
    border-bottom: 1px solid rgb(61, 175, 175);
    box-shadow: 0 1.5px 0 0 rgb(61, 175, 175);
    border-radius: 2px;
}

#register-content .googleAcount img{
    margin: 7px 0px 7px 0px;
    height: 30px;

    width: auto;
}

/* -------------------------------------------- Código del Pie de Página -------------------------------------------- */

#footer-content { /* Contenido general */
    width: 100%;
    background-color: rgb(20, 20, 20);

    color: white;
    align-items: center;

    display: flex;
    flex-direction: column;
    
    padding: 20px 0;
    min-height: 15vh;
    
    justify-content: space-between;
}  

#footer-content img { /* Imagen del Pie de Página */
    text-align: center;
    height: auto;

    width: 200px;
    margin-left: 300px;
    margin-right: 350px;
}