/* ----------------------------------------------- Cuerpo de la Página ---------------------------------------------- */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body { /* Contenido general */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/img/backgrounds/blackground-login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
}

/* ------------------------------------------------ Cuerpo deL Login ------------------------------------------------ */

/* Contenido general */

#login-content { /* Contenido Login */
    
    margin: auto;
    margin-top: 80px;
    margin-bottom: 180px;

    width: 25%;
    height: 40%;
    
    text-align: center;

    background-color: rgb(105, 42, 42);
    border-radius: 60px;

    padding: 30px;
}

#login-content img { /* Imagen superior del Login */
    margin-top: 20px;

    width: 30%;
    height: 20%;
}

#login-content h3 { /* Subtítulo del Login */
    font-size: 20px;
}

#login-content .green-letter { /* Span del subtítulo */
    transition: color 0.4s;
}

#login-content label {
    display: block;
    
    margin-top: 7px;
}

#login-content input { /* Input's generales del Login */
    outline: none;

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    caret-color: transparent;

    height: 20px;
    width: 100%;

    margin-top: 5px;
    margin-bottom: 7px;

    transition: border-bottom 0.4s, box-shadow 0.4s;
}

#login-content .remember-session {
    display: flex;
    margin: 10px 0px 10px;

    text-align: left;
}

#login-content .remember-session input { /* Input Checkbox*/
    margin: 0;
    width: auto;
}

#login-content .remember-session label {
    margin: 0;
    padding: 0px 0px 0px 5px;

    font-size: 14px;
    display: inline-block;
}

#login-content .submit input { /* Input Submit */
    width: auto;
    cursor: pointer;

    margin: 7px 0px 7px;
    padding: 0;

    font-size: 15px;
}

#login-content .googleAcount p {
    width: auto;

    margin: 7px 0px 7px;
}

#login-content .googleAcount button{
    border: none;
    background: transparent;
    caret-color: transparent;
    cursor: pointer;

    margin: 10px 0px 10px 0px;
}

#login-content .googleAcount button img{
    margin: 0;

    width: 30px;
    height: 30px;
}

#login-content .enlaceCTA a {
    display: inline-block;
    width: 49%;

    text-decoration: none;
    font-size: 12px;

    transition: color 0.4s;
}

/* Hover y Focus del Formulario */

#login-content .remember-session input:hover, /* Hover del Input Checkbox */
#login-content .remember-session input:focus { /* Focus del Input Checkbox */
    box-shadow: none;
    cursor: pointer;
}

#login-content input:hover { /* Hover de los Input's */
    border-bottom: 1px solid rgb(61, 175, 175);
    box-shadow: 0 1.5px 0 0 rgb(61, 175, 175);
}

#login-content h3:hover .green-letter { /* Hover del Submit*/
    color: rgb(61, 175, 175);
}


#login-content .enlaceCTA a:hover {
    color: rgb(61, 175, 175); /* Cambiar color al hacer hover */
}

/* -------------------------------------------- Código del Pie de Página -------------------------------------------- */

footer {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    flex-direction: row;
    padding: 10px 0;
    min-height: 15vh;
    margin-top: auto;
    align-items: center;
}
footer div{
    display: inline-block;
    top: 20px;
    margin: 20px 100px;
    height: auto;
}