/* ----------------------------------------------- Cuerpo de la Página ----------------------------------------------- */

body { /* Contenido general */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/img/backgrounds/blackground-login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
}

/* ------------------------------------------------- Cuerpo deL Register ------------------------------------------------- */

#register-content { /* Contenido Register */
    
    margin: auto;
    margin-top: 80px;
    margin-bottom: 150px;

    width: 25%;
    height: 40%;

    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: rgb(105, 42, 42);
    border-radius: 60px;

    padding: 30px 30px 30px 30px;
}

#register-content img { /* Imagen superior del Login */
    margin-top: 20px;
    width: 30%;
    height: 20%;
}

#register-content h3 { /* Subtítulo del Login */
    font-size: 20px;
    text-align: center;

    margin-top: 5px;
}

#register-content .community { /* Span del subtítulo */
    transition: color 0.4s;
}

#register-content input { /* Input's generales del Login */
    outline: none;

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    caret-color: transparent;

    height: 20px;
    width: 100%;

    color: white;

    margin-top: 7px;
    margin-bottom: 7px;

    transition: border-bottom 0.4s, box-shadow 0.4s;
}

#register-content label {
    display: block;
    margin-top: 7px;
}

#register-content .password, #register-content .optional {
    width: 49%;
    display: inline-block;

    text-align: left;
}

#register-content .password input, #register-content .optional input {
    padding: 0;
    width: 80%;
}

#register-content .password label, #register-content .optional label {
    padding: 0;
    width: 80%;
}

#register-content input[type="submit"] { /* Input Submit */
    width: auto;
    cursor: pointer;

    margin: 12px 0px 6px 0px;
    padding: 0px 0px 5px 0px;

    text-align: center;
    font-size: 15px;

    display: inline;
}

#register-content .acceptTerms {
    display: flex;
    margin: 10px 0px 5px 0px;
}

#register-content input[type="checkbox"] {
    margin: 0;
    width: auto;}

#register-content label[for="checkbox"] {
    margin: 0;
    padding: 0px 0px 0px 5px;

    font-size: 14px;
    display: inline-block;
}

#register-content input[type="checkbox"]:hover, /* Hover del Input Checkbox */
#register-content input[type="checkbox"]:focus { /* Focus del Input Checkbox */
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

#register-content input:hover { /* Hover de los Input's */
    border-bottom: 1px solid rgb(61, 175, 175);
    box-shadow: 0 1.5px 0 0 rgb(61, 175, 175);
    border-radius: 2px;
}

#register-content h3:hover .community { /* Hover del Submit*/
    color: rgb(61, 175, 175);
}


/* -------------------------------------------- Código del Pie de Página -------------------------------------------- */

#footer-content { /* Contenido general */
    /* bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    min-height: auto; */

    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    flex-direction: row;
    padding: 10px 0;
    min-height: 15vh;
    margin-top: auto;
    align-items: center;
}



/* #sectores div{
    display: inline-block;
}

#sector_1 {
    position: absolute;
    left: 0px;
    padding: 30px 20px;
}

#sector_2 {
    padding-top: 15px;
}

#sector_3 {
    position: absolute;
    right: 0px;
    padding: 30px 20px;
} */

footer div{
    display: inline-block;
    top: 20px;
    margin: 20px 100px;
    height: auto;
}

#footer-content img { /* Imagen del Pie de Página */
    text-align: center;
    height: auto;
    width: 170px;
}