/* ----------------------------------------------- Cuerpo de la Página ----------------------------------------------- */
#body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-image: url("/img/backgrounds/background-preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
}
/* ------------------------------------------------- Cuerpo del header ------------------------------------------------- */
#header {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
    color: white;
    width: 100%;
    padding: 10px 0px;
}

#header div {
    display: inline-block;
}

#sectore_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ------------------------------------------------- Cuerpo sector_1 ------------------------------------------------- */
#sector_1_header {
    position: absolute;
    left: 15px;
    top: 6px;
    padding: 9px 20px;
}
#sector_1_header img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

#sector_1_header img:active{
    height: 25;
    width: auto;
    margin-bottom: 1px;
    margin-top: 3px;
    margin-left: 3px;
}
/* ------------------------------------------------- Cuerpo sector_2 ------------------------------------------------- */
#sector_2_header {
    position: relative;
    display: flex;
    align-items: center;
}

#sector_2_header a {
    text-decoration-line: none;
    color: rgb(190, 178, 178);
    background-color: color(srgb red green blue);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 40px;
}

#sector_2_header a:hover{
    color: white;
    padding: 26px 40px;
    margin: 0px 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#sector_2_header p {
    display: inline-block;
}

/* ------------------------------------------------- Cuerpo sector_3 ------------------------------------------------- */
#sector_3_header {
    position: absolute;
    top: 9px;
    right: 10px;
    padding: 9px 20px;
}

#sector_3_header button{
    border: none;
    background: transparent;
    caret-color: transparent;
    cursor: pointer;
}

#sector_3_header img {
    height: 30px;
    width: auto;
}

#sector_3_header img:active{
    height: 25;
    width: auto;
    margin-bottom: 1px;
    margin-top: 2.5px;
    margin-right: 2px;
}

#flecha_icono img{
    height: 15px;
    margin-bottom: 6px;
}

/* ------------------------------------------------- Contenido ------------------------------------------------- */
#contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 10px 50px;
    gap: 50px;
    position: relative;
}
/* ------------------------------------------------- sub nivel 1 ------------------------------------------------- */
#sector_1_contenido{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(25, 22, 22), -2px -2px 4px rgb(45, 45, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    animation: movefromright 2s ease-out forwards;
    opacity: 0; 
}

#sector_1_contenido p {
    margin: 15px;
}

#sector_2_contenido {
    padding: 0px;
    margin: 0px 0px;
    animation: moveFromRight 2s ease-out forwards;
    opacity: 0;
}

@keyframes movefromright{
    0% {
        transform: translatey(100%);
        opacity: 0;
    }
    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes moveFromRight {
    0% {
        transform: translatey(100%);
        opacity: 0;
    }
    100% {
        transform: translatey(0); 
        opacity: 1;
    }
}

#sector_2_contenido img{
    height: auto;
    width: 600px;
    padding: 0px;
}

/* ------------------------------------------------- sub nivel 2 ------------------------------------------------- */
#primera_vista_parte_superior {
    font-size: 40px;
}

#segunda_vista_parte_inferior {
    font-size: 20px;
    text-align: center;
}

/* ------------------------------------------------- footer ------------------------------------------------- */
#footer {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    flex-direction: column;
    padding: 10px 0;
    min-height: 15vh;
    margin-top: auto;
    align-items: center;
}
#footer div{
    display: inline-block;
    top: 20px;
    margin: 20px 100px;
    height: auto;
}